:root {
    --colorBlack: #323638;
    --colorLightBlack: #3b3f41;
    --colorGrey: #949ba0;
    --colorDarkGrey1: #464b4e;
    --colorDarkGrey2: #5f686d;
    --colorlightGrey: #9dacb2;
    --colorlightGrey2: #a7b6bb;
    --colorGreyBlue: #a0b9bf;
    --colorBlueGrey: #a5ccd1;
    --colorBlue: #549ca5;
    --colorBlueBlueBlue: #37858f;
    --colorWhite: #dfe0e2;

    --colorLogo:#44b8c7;
	
    --colorBeforLinkVisited:#cdcfd1;
    --colorBeforLinkVisitedHoverd:#dfe0e2;
    --colorLinkVisited:#bbc1c7;

    --standartborderRadius: 4px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorLightBlack);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlack);
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 3px #303030
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbarLogo {
    color: var(--colorLogo);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-shadow:  2px 2px #252525;
}

.navbarMenu {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbarItems {
    height: 80px;
}

.navbarLinks {
    color: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}


.main__container {
    background: var(--colorDarkGrey1);
    background: -webkit-linear-gradient(to right ,var(--colorDarkGrey1), var(--colorDarkGrey2));
    background: linear-gradient(to right ,var(--colorDarkGrey1), var(--colorDarkGrey2));
    color: var(--colorWhite);
}

@media  screen and (max-width: 820px) {
    
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
    }

    .navbarMenu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 1;
        top: -1000px;
        transition: all 0.5s ease;
    }

    .navbarMenu.active {
        background: var(--colorBlack);
        top: 100%;
        orphans: 1;
        z-index: 999;
        font-size: 1.6rem;
        height: 60vh;
        transition: all 0.5s ease;
    }

    #navbarLogo {
        padding: 25px;
    }

    .navbarItems {
        width: 100%;
    }

    .navbarLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Home Section (QnA) */

.main__container {
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--colorLightBlack);
}

.qna__container {
    margin: 30px 10px;
    padding: 10px 30px;    
    width: 100%;
    max-width: 700px;
    justify-content: center;
    /* background-color: var(--colorDarkGrey1); */
    border-radius: var(--standartborderRadius);
}

.main__container__h1  {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 1.2rem;
    color: var(--colorLogo);
    text-shadow: 1px 1px var(--colorBlack);
}

/* .qna__items {
    margin-bottom: 50px;
} */

.qna__item {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--colorWhite);
}

.qna__question {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.qna__awnser {
    font-weight: 400;
    font-size: 1rem;
}

.qna__awnser__link {
	color: var(--colorBeforLinkVisited);
	text-decoration: underline;
	
}

.qna__awnser__link:visited {
	color: var(--colorLinkVisited);
	text-decoration: underline;
}

.qna__awnser__link:hover {
	color: var(--colorBeforLinkVisitedHoverd);
	text-decoration: underline;
	
}

@media  screen and (min-width: 913px) {
    .qna__container {
        max-width: 1300px;
        /* background-color: var(--colorLightBlack); */
    }

    .qna__items {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .qna__item {
        margin: 5px;
        padding: 15px 20px;
        /* background-color: var(--colorDarkGrey1); */
        border-radius: var(--standartborderRadius);
    }

	#qna__item__hobbys {
		grid-column: 3 / 7;
		grid-row: 1 / 3;
    }
}

/* About Section */
.main__container {
    background-color: var(--colorLightBlack);
}

.about__container {
    margin: 10px;
	margin-bottom: 50px;
    border: none;
    outline: none;
    border-radius: var(--standartborderRadius);
    /* background-color: var(--colorDarkGrey1); */
    padding: 10px 20px;
	padding-top: 0;
    width: 100%;
}

.about__section-wrapper {
    display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.about__picture {
    margin-right: 20px;
	margin-bottom: auto;
	width: 20%;
	opacity: 1;
}
.about__picture img {
	border-radius: var(--standartborderRadius);
	max-width: 400px;
}

.about__text-question {
    justify-content: right;
    text-align: right;
    margin: 0 10px;
    font-weight: 600;
    width: 200px;
}

.about__text-awnser {
    justify-content: left;
    text-align: left;
    margin: 0 10px;
    min-width: 100px;
}

.about__text-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.about__text-wrapper {
	justify-content: center;
	align-items: center;
	width: 700px;
}

#about__img {
	width: 100%;
	min-width: 200px;
}

@media screen and (max-width: 970px) {
	
	.main__container {
		margin: 30px 10px;
		padding: 10px 40px; 
		padding-top: 0;
		margin-bottom: 50px;
	}

	.about__text-item {
		flex-direction: column;
		width: 90%;
		margin-bottom: 0.7rem;
	}
	
	.about__text-question {
		width: auto;
		text-align: left;
		margin-bottom: 0.3rem;
	}
	
	.about__text-awnser {
		min-width: none;
	}

	.about__picture {
		width: 200px;
		opacity: 1;
	}
}

@media screen and (max-width: 565px) {
	
	.main__container {
		margin: 30px 10px;
		padding: 10px 40px; 
		padding-top: 0;
		margin-bottom: 50px;	
	}

	.about__text-item {
		flex-direction: column;
		width: 90%;
	}
	
	.about__text-question {
		width: auto;
		text-align: left;
		margin-bottom: 0.3rem;
	}
	
	.about__text-awnser {
		min-width: none;
	}

	.about__picture {
		width: 0px;
		opacity: 0%;
	}
}


/* blog section */

#blog {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	color: var(--colorWhite);
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 30px 10px;
	padding: 10px 40px; 
	justify-content: center;
	align-items: center;
}

.blog__container{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	color: var(--colorWhite);
}

.blog__container {
	text-align: left;
	justify-content: left;
	align-items: left;
	width: 100%;
	max-width: 1300px;
}

.blog__h1 {
	width: 100%;
	text-align: left;
	justify-content: left;
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	padding-left: 3rem;
	color: var(--colorGrey);
}

.blog__last-blog-post {
	display: flex;
	flex-direction: column;
	border-radius: var(--standartborderRadius);
	background-color: var(--colorBlack);
	padding: 30px;
}

.blog__last-blog-post__text {
	display: grid;
	grid-template-columns: 1fr 5fr;
	padding-left: 2rem;
}

.blog__last-blog-post__img {
	grid-column: 1 / auto;
	grid-row: 1 / 10;
	width: 100%;
	padding-right: 20px;
	border-radius: var(--standartborderRadius);
}

.blog__last-blog-post__h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	padding-left: 0;
}

.blog__to-blog-btn {
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: left;
	padding-left: 20px;
}

.blog__to-blog-btn button {
	margin-top: 2rem;
	padding: 5px 15px;
	font-size: 01.5rem;
	font-weight: 400;
	color: var(--colorlightGrey);
	background-color: var(--colorDarkGrey1);
	border: none;
	outline: none;
	border-radius: 15px;
	
	transition: all 0.2s ease;
}

.blog__to-blog-btn button:hover {
	color: var(--colorWhite);
	background-color: var(--colorDarkGrey2);
	transition: all 0.2s ease;
}
